.swal-content__input, .swal-content__textarea {
	color: #4a5568;
    font-size: 14px;
    border: 1px solid #e2e8f0;
    border-radius: 0.25rem;
}

.swal-content__input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #cbd5e0;
  opacity: 1; /* Firefox */
}

.swal-content__input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #cbd5e0;
}

.swal-content__input::-ms-input-placeholder { /* Microsoft Edge */
  color: #cbd5e0;
}

.swal-footer {
	@apply bg-gray-200 border-t border-gray-400;
	margin-top: 32px;
	overflow: hidden;
}
.swal-title {
	font-size: 1.2rem;
}
.swal-text {
	font-size: .9rem;
	text-align: center;
	&:first-child {
		margin-top: 25px;
	}
	&:last-child {
		margin-bottom: 25px;
	}
}

.swal-button-container {
	.swal-btn {
		&:focus {
			@apply outline-none;
		}
		&.danger {
			@apply bg-red-500;
			&:hover {
				// bg-red-600
				background: #e53e3e !important;
			}
		}
		&.success {
			@apply bg-green-500;
			&:hover {
				// bg-green-600
				background: #38a169 !important;
			}
		}
		&.default {
			@apply bg-gray-100;
			&:hover {
				// bg-gray-300
				background: #e2e8f0 !important;
			}
		}
	}
}

.swal-success {
	background-color: #d3edda;
	border: 1px solid #c2e6cb;
	.swal-title {
		font-size: 18px;
	}
	.swal-text {
		color: #165723;
		font-size: 14px;
		&:first-child {
			margin-top: 25px;
		}
		&:last-child {
			margin-bottom: 25px;
		}
	}
}

.swal-error {
	background-color: #f8d7da;
	border: 1px solid #f5c6ca;
	.swal-title {
		font-size: 18px;
	}
	.swal-text {
		color: #731d24;
		font-size: 14px;
		&:first-child {
			margin-top: 25px;
		}
		&:last-child {
			margin-bottom: 25px;
		}
	}
}

.swal-warning {
	background-color: #fff3cd;
	border: 1px solid #ffeeba;
	.swal-title {
		font-size: 18px;
	}
	.swal-text {
		color: #856402;
		font-size: 14px;
		&:first-child {
			margin-top: 25px;
		}
		&:last-child {
			margin-bottom: 25px;
		}
	}
}

.swal-info {
	background-color: #d1ecf1;
	border: 1px solid #bee5eb;
	.swal-title {
		font-size: 18px;
	}
	.swal-text {
		color: #085460;
		font-size: 14px;
		&:first-child {
			margin-top: 25px;
		}
		&:last-child {
			margin-bottom: 25px;
		}
	}
}