.table-wrap {
	@apply inline-block min-w-full shadow rounded-lg overflow-hidden border border-gray-400 text-xs border;
	@screen md {
		@apply text-sm;
	}

	.admin-tables {
		@apply min-w-full leading-normal bg-white;
		thead {
			th {
				@apply px-1 py-3 border-b border-gray-300 bg-gray-100 font-semibold text-gray-600 uppercase tracking-wide text-left;
				&:first-child {
					@apply pl-3;
				}
				&:last-child {
					@apply pr-3;
				}
			}
		}
		tbody {
			tr {
				&.selected {
					@apply bg-yellow-100;
				}
				&:hover {
					@apply bg-gray-100;
					&.selected {
						@apply bg-yellow-100;
					}
					td {
						.name {
							@apply text-pink-600;
						}
					}
				}
				td {
					@apply px-1 py-2 border-b border-gray-200;
					&:first-child {
						@apply pl-3;
					}
					&:last-child {
						@apply pr-3;
					}
				}
				.empty {
					@apply text-center py-4 h-32 bg-gray-100;
					i {
						@apply block text-3xl pb-3;
					}
				}
			}
		}
	}
}

.selected-options, .global-options {
	@apply fixed z-40 bottom-0 left-0 right-0 text-xs bg-gray-100 border-t border-gray-400;
	@screen md {
		@apply ml-64 px-4 bg-gray-200 border-t border-gray-400;
	}
	.info {
		@apply block mx-4 text-center pt-4;
		@screen md {
			@apply mx-8;
		}
		.selected-regs-count {
			@apply text-gray-800 font-semibold;
			font-size: .8rem;
			@screen md {
				font-size: 1rem;
			}
		}
		#hideOptions {
			@apply absolute text-pink-500 cursor-pointer;
			top: .5em;
			right: 1rem;
			font-size: 1.75em;
			&:hover {
				@apply text-pink-600;
			}
			&:focus {
				@apply outline-none;
			}
			@screen md {
				right: 3rem;
				font-size: 2.25em;
			}
		}
	}
	.elements {
		@apply flex justify-center mx-4 pb-4;
		@screen md {
			@apply mx-8;
		}
		button {
			@apply text-gray-600 p-3 bg-white shadow rounded border border-gray-400;
			transition: all .15s ease;
			&.danger-btn {
				@apply text-red-400;
				&:hover, :focus {
					@apply text-red-600 border-red-500 bg-red-100;
				}
			}
			&.info-btn {
				@apply text-blue-500;
				&:hover, :focus {
					@apply text-blue-700 border-blue-500 bg-blue-100;
				}
			}
			&:hover, :focus {
				@apply text-gray-800 border-gray-500 bg-gray-100;
			}
			@screen md {
				@apply px-4;
			}
			&:focus {
				@apply outline-none;
			}
			i {
				font-size: 24px;
				@screen md {
					font-size: 32px;
				}
			}
		}
		[class*=hint--]:after {
		    padding: 5px 8px;
		    font-size: 11px;
		}
		.hint--top-right:after, .hint--top-right:before {
		    bottom: 70%;
		}
		.hint--top:after, .hint--top:before {
		    bottom: 70%;
		}
		.hint--top-left:after, .hint--top-left:before {
		    bottom: 70%;
		}
	}
}

.global-options {
	@apply bg-pink-100 border-t border-pink-300;
	@screen md {
		@apply bg-gray-200 border-t border-gray-400;
	}
	.info {
		.title {
			@apply text-pink-500 font-semibold;
			font-size: .8rem;
			@screen md {
				font-size: 1rem;
			}
		}
	}
}

.filter-tags {
	@apply pt-2;
	button {
		@apply text-xs font-semibold inline-block py-1 px-2 rounded text-gray-700 bg-white border border-gray-400 mr-1 cursor-pointer;
		font-size: .7em;
		&:hover {
			@apply border-gray-600;
			i {
				@screen md {
					@apply text-gray-700;
				}
			}
		}
		&:focus {
			@apply outline-none;
		}
		&:last {
			@apply mr-0;
		}
		i {
			@apply pl-2;
			@screen md {
				@apply text-gray-400;
			}
		}
	}
}

.search-bar {
	@apply flex items-center mb-2;
	@screen md {
		@apply mb-4
	}
	.add {
		@apply bg-green-500 text-green-100 border border-green-600 h-full rounded px-3 py-2;
		&:focus {
			@apply outline-none bg-green-600;
		}
		&:hover {
			 @apply bg-green-600;
		}
		i {
			@apply text-xl;
			@screen lg {
				@apply text-base;
			}
		}
		span {

		}
	}
	.search {
		@apply relative;
		span {
			@apply h-full absolute inset-y-0 left-0 flex items-center pl-2;
		}
		input {
			@apply rounded border border-gray-400 border-b block pl-8 pr-2 py-2 bg-white text-sm text-gray-700 w-full;
			&:focus {
				@apply bg-white border-gray-500 text-gray-700 outline-none;
			}
		}
	}
	.shortcuts {
		@apply hidden text-blue-500;
		@screen md {
			@apply inline-block;
		}
		@focus {
			@apply outline-none;
		}
	}
	.filters {
		@apply inline-block bg-gray-100 text-gray-700 border border-gray-400 h-full rounded px-3 py-2;
		&:focus {
			@apply outline-none bg-white;
		}
		&:hover {
			@apply bg-white text-gray-900;
		}
	}
	.table {
		@apply inline-block bg-gray-100 text-gray-700 border border-gray-400 h-full rounded px-3 py-2;
		&:focus {
			@apply outline-none bg-white;
		}
		&:hover {
			@apply bg-white text-gray-900;
		}
	}
}

.form {
	@apply bg-white shadow-md rounded-lg p-6 mb-4 flex flex-col my-4 flex-1;
	.thumbnail {
		@apply shadow mx-auto h-24 w-24 border-white overflow-hidden border-4 object-cover rounded-lg;
		&.circle {
			@apply rounded-full;
		}
	}
	.field-group {
		@apply -mx-3 flex-col flex;
		@screen xl {
			@apply flex-row;
		}
		.element {
			@apply flex-1 px-3 mb-6;
			label {
				@apply block uppercase tracking-wide text-xs font-bold text-gray-500 mb-2;
			}
			input, select, textarea {
				@apply appearance-none block w-full border border-gray-300 rounded py-2 px-3;
				// fix for null values in input date
				min-height: 39px;
				&:focus {
					@apply border-gray-500;
				}
			}
		}
	}
}

.view {
	@apply bg-white shadow overflow-hidden rounded-lg my-4 py-4 flex-1;
	.image {
		@apply shadow mx-auto h-24 w-24 border-white overflow-hidden border-4 rounded-lg;
		img {
			@apply object-cover w-full h-full;
		}
		&.circle {
			@apply rounded-full;
		}
	}
	.title {
		@apply my-4 text-center;
		.edit {
			@apply text-blue-500 bg-transparent border border-solid border-blue-500 font-bold uppercase text-xs px-4 py-2 rounded outline-none mr-1 mb-1;
			transition: all .15s ease;
			&:active {
				@apply bg-blue-600;
			}
			&:hover {
				@apply bg-blue-500 text-white;
			}
			&:focus {
				@apply outline-none;
			}
		}
	}
	dl {
		div {
			@apply px-4 py-5 border-t border-gray-200 text-center;
			@screen lg {
				@apply grid grid-cols-2 gap-8 px-6 text-left;
			}
			dt {
				@apply text-sm leading-5 font-medium text-gray-500;
				@screen lg {
					@apply text-right;
				}
			}
			dd {
				@apply mt-1 text-sm leading-5 text-gray-900;
				@screen lg {
					@apply mt-0;
				}
			}
		}
	}
}