.form {
	@apply bg-gray-800 shadow-md rounded-lg p-6 mb-4 flex flex-col text-gray-700;
	.label-img {
		@apply uppercase tracking-wide text-xs font-bold text-gray-500 mb-2 text-center;
	}
	.thumbnail {
		@apply shadow mx-auto h-24 w-24 overflow-hidden object-cover rounded-full;
		&.circle {
			@apply rounded-full;
		}
		&.original-size {
			@apply h-auto w-auto;
			@screen lg {
				@apply max-w-screen-sm;
			}
		}
	}
	.field-group {
		@apply -mx-3 flex-col flex;
		@screen xl {
			@apply flex-row;
		}
		.element {
			@apply flex-1 px-3 mb-6;
			label {
				@apply block uppercase tracking-wide text-xs font-bold text-gray-300 mb-2;
			}
			input, select, textarea {
				@apply appearance-none block bg-white w-full border border-gray-300 rounded py-2 px-3;
				// fix for null values in input date
				min-height: 39px;
				&:focus {
					@apply border-gray-500;
				}
			}
		}
	}
}

.eteam-menu {
	@apply p-2 text-center;
	&.red {
		@apply bg-red-600 border-b border-red-800;
		li {
			a {
				@apply text-red-300;
				&:hover {
					@apply text-red-200;
				}
				&:focus {
					@apply text-red-200;
				}
			}
			&.current {
				a {
					@apply text-white;
				}
			}
			&.disable {
				a {
					@apply text-red-800;
				}
			}
		}
	}
	&.blue {
		@apply bg-blue-600 border-b border-blue-800;
		li {
			a {
				@apply text-blue-300;
				&:hover {
					@apply text-blue-200;
				}
				&:focus {
					@apply text-blue-200;
				}
			}
			&.current {
				a {
					@apply text-white;
				}
			}
			&.disable {
				a {
					@apply text-blue-800;
				}
			}
		}
	}
	&.green {
		@apply bg-green-600 border-b border-green-800;
		li {
			a {
				@apply text-green-300;
				&:hover {
					@apply text-green-200;
				}
				&:focus {
					@apply text-green-200;
				}
			}
			&.current {
				a {
					@apply text-white;
				}
			}
			&.disable {
				a {
					@apply text-green-800;
				}
			}
		}
	}
	&.gray {
		@apply bg-gray-600 border-b border-gray-800;
		li {
			a {
				@apply text-gray-300;
				&:hover {
					@apply text-gray-200;
				}
				&:focus {
					@apply text-gray-200;
				}
			}
			&.current {
				a {
					@apply text-white;
				}
			}
			&.disable {
				a {
					@apply text-gray-800;
				}
			}
		}
	}
	&.orange {
		@apply bg-orange-600 border-b border-orange-800;
		li {
			a {
				@apply text-orange-300;
				&:hover {
					@apply text-orange-200;
				}
				&:focus {
					@apply text-orange-200;
				}
			}
			&.current {
				a {
					@apply text-white;
				}
			}
			&.disable {
				a {
					@apply text-orange-800;
				}
			}
		}
	}
	&.yellow {
		@apply bg-yellow-600 border-b border-yellow-800;
		li {
			a {
				@apply text-yellow-300;
				&:hover {
					@apply text-yellow-200;
				}
				&:focus {
					@apply text-yellow-200;
				}
			}
			&.current {
				a {
					@apply text-white;
				}
			}
			&.disable {
				a {
					@apply text-yellow-800;
				}
			}
		}
	}
	&.teal {
		@apply bg-teal-600 border-b border-teal-800;
		li {
			a {
				@apply text-teal-300;
				&:hover {
					@apply text-teal-200;
				}
				&:focus {
					@apply text-teal-200;
				}
			}
			&.current {
				a {
					@apply text-white;
				}
			}
			&.disable {
				a {
					@apply text-teal-800;
				}
			}
		}
	}
	&.indigo {
		@apply bg-indigo-600 border-b border-indigo-800;
		li {
			a {
				@apply text-indigo-300;
				&:hover {
					@apply text-indigo-200;
				}
				&:focus {
					@apply text-indigo-200;
				}
			}
			&.current {
				a {
					@apply text-white;
				}
			}
			&.disable {
				a {
					@apply text-indigo-800;
				}
			}
		}
	}
	&.purple {
		@apply bg-purple-600 border-b border-purple-800;
		li {
			a {
				@apply text-purple-300;
				&:hover {
					@apply text-purple-200;
				}
				&:focus {
					@apply text-purple-200;
				}
			}
			&.current {
				a {
					@apply text-white;
				}
			}
			&.disable {
				a {
					@apply text-purple-800;
				}
			}
		}
	}
	&.pink {
		@apply bg-pink-600 border-b border-pink-800;
		li {
			a {
				@apply text-pink-300;
				&:hover {
					@apply text-pink-200;
				}
				&:focus {
					@apply text-pink-200;
				}
			}
			&.current {
				a {
					@apply text-white;
				}
			}
			&.disable {
				a {
					@apply text-pink-800;
				}
			}
		}
	}
	ul {
		@apply flex justify-center;
		li {
			@apply flex-auto text-center ml-6 pt-1;
			&:first-child {
				@apply ml-0;
			}
			&.current {
				@apply cursor-not-allowed;
				a {
					pointer-events: none;
					transition: all .15s ease;
				}
			}
			&.disable {
				@apply cursor-not-allowed;
				pointer-events: none;
				a {
					pointer-events: none;
				}
			}
			@screen sm {
				@apply ml-8;
			}
			@screen md {
				@apply ml-10;
			}
			@screen lg {
				@apply ml-12;
			}
			@screen xl {
				@apply ml-16;
			}
			a {
				transition: all .15s ease;
				i {
					@apply text-2xl block;
					@screen sm {
						@apply text-3xl;
					}
					@screen lg {
						@apply text-4xl;
					}
				}
				span {
					@apply text-9 uppercase;
					@screen sm {
						@apply text-10;
					}
					@screen lg {
						@apply text-11;
					}
				}
			}
		}
	}
}