@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,800;1,600&display=swap');
// @import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,700;1,400&display=swap');

@import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap');

.font-source-sans {
	font-family: 'Source Sans Pro', sans-serif;
}

.font-nunito {
	font-family: 'Nunito', sans-serif;
}

.font-luckiest {
	font-family: 'Luckiest Guy', cursive;
}

// .font-open-sans {
// 	font-family: 'Open Sans', sans-serif;
// }

.font-roboto {
	font-family: 'Roboto', sans-serif;
}

.font-roboto-condensed {
	font-family: 'Roboto Condensed', sans-serif;
}

.font-pt-sans {
	font-family: 'PT Sans', sans-serif;
}

.font-fjalla {
	font-family: 'Fjalla One', sans-serif;
}

.text-xxs {
	font-size: 0.65rem;
}