.tournament {
	@apply max-w-screen-xl mx-auto;
	margin-top: 63px;
	@screen md {
		margin-top: 80px;
		margin-bottom: 1em;
	}
	.wrapper {
		background: #131619;
		@screen md {
			@apply border border-black rounded mx-10 relative;
		}
		@screen lg {
			padding: .5em;
		}
		.banner {
			@apply w-full h-auto mx-auto;
			@screen md {
				@apply w-1/2 pt-1 pb-3;
				img {
					@apply w-full h-auto border border-black rounded;
				}
			}
			@screen lg {
				@apply w-1/3;
			}
		}
		.platform-content {
			@screen md {
				border-left: 1px solid rgba(0,0,0,0.1);
				border-right: 1px solid rgba(0,0,0,0.1);
			}
			&.red {
				background: linear-gradient(180deg, #9b2c2c 0%, darken(#9b2c2c, 1) 50%, darken(#9b2c2c, 4) 75%, darken(#9b2c2c, 10) 100%);
				.breadcrumb {
					ol {
						@apply text-red-400;
					}
				}
				.tournament-info {
					.logo {
						@apply border-red-900;
					}
					.info {
						.game, .platform, .participation {
							@apply text-red-400;
						}
					}
				}
				.menu {
					@apply text-red-200;
					ul {
						.item {
							@apply bg-red-800 border-red-900;
							&:hover {
								@apply bg-red-300 text-red-700;
							}
						}
						.active {
							@apply text-red-700;
						}
					}
				}
			}
			&.green {
				background: linear-gradient(180deg, #276749 0%, darken(#276749, 1) 50%, darken(#276749, 4) 75%, darken(#276749, 10) 100%);
				.breadcrumb {
					ol {
						@apply text-green-400;
					}
				}
				.tournament-info {
					.logo {
						@apply border-green-900;
					}
					.info {
						.game, .platform, .participation {
							@apply text-green-400;
						}
					}
				}
				.menu {
					@apply text-green-200;
					ul {
						.item {
							@apply bg-green-800 border-green-900;
							&:hover {
								@apply bg-green-300 text-green-700;
							}
						}
						.active {
							@apply text-green-700;
						}
					}
				}
			}
			&.blue {
				background: linear-gradient(180deg, #2c5282 0%, darken(#2c5282, 1) 50%, darken(#2c5282, 4) 75%, darken(#2c5282, 10) 100%);
				.breadcrumb {
					ol {
						@apply text-blue-400;
					}
				}
				.tournament-info {
					.logo {
						@apply border-blue-900;
					}
					.info {
						.game, .platform, .participation {
							@apply text-blue-400;
						}
					}
				}
				.menu {
					@apply text-blue-200;
					ul {
						.item {
							@apply bg-blue-800 border-blue-900;
							&:hover {
								@apply bg-blue-300 text-blue-700;
							}
						}
						.active {
							@apply text-blue-700;
						}
					}
				}
			}
			&.gray {
				background: linear-gradient(180deg, #2d3748 0%, darken(#2d3748, 1) 50%, darken(#2d3748, 4) 75%, darken(#2d3748, 10) 100%);
				.breadcrumb {
					ol {
						@apply text-gray-400;
					}
				}
				.tournament-info {
					.logo {
						@apply border-gray-900;
					}
					.info {
						.game, .platform, .participation {
							@apply text-gray-400;
						}
					}
				}
				.menu {
					@apply text-gray-200;
					ul {
						.item {
							@apply bg-gray-800 border-gray-900;
							&:hover {
								@apply bg-gray-300 text-gray-700;
							}
						}
						.active {
							@apply text-gray-700;
						}
					}
				}
			}
			&.orange {
				background: linear-gradient(180deg, #9c4221 0%, darken(#9c4221, 1) 50%, darken(#9c4221, 4) 75%, darken(#9c4221, 10) 100%);
				.breadcrumb {
					ol {
						@apply text-orange-400;
					}
				}
				.tournament-info {
					.logo {
						@apply border-orange-900;
					}
					.info {
						.game, .platform, .participation {
							@apply text-orange-400;
						}
					}
				}
				.menu {
					@apply text-orange-200;
					ul {
						.item {
							@apply bg-orange-800 border-orange-900;
							&:hover {
								@apply bg-orange-300 text-orange-700;
							}
						}
						.active {
							@apply text-orange-700;
						}
					}
				}
			}
			&.yellow {
				background: linear-gradient(180deg, #975a16 0%, darken(#975a16, 1) 50%, darken(#975a16, 4) 75%, darken(#975a16, 10) 100%);
				.breadcrumb {
					ol {
						@apply text-yellow-400;
					}
				}
				.tournament-info {
					.logo {
						@apply border-yellow-900;
					}
					.info {
						.game, .platform, .participation {
							@apply text-yellow-400;
						}
					}
				}
				.menu {
					@apply text-yellow-200;
					ul {
						.item {
							@apply bg-yellow-800 border-yellow-900;
							&:hover {
								@apply bg-yellow-300 text-yellow-700;
							}
						}
						.active {
							@apply text-yellow-700;
						}
					}
				}
			}
			&.teal {
				background: linear-gradient(180deg, #285e61 0%, darken(#285e61, 1) 50%, darken(#285e61, 4) 75%, darken(#285e61, 10) 100%);
				.breadcrumb {
					ol {
						@apply text-teal-400;
					}
				}
				.tournament-info {
					.logo {
						@apply border-teal-900;
					}
					.info {
						.game, .platform, .participation {
							@apply text-teal-400;
						}
					}
				}
				.menu {
					@apply text-teal-200;
					ul {
						.item {
							@apply bg-teal-800 border-teal-900;
							&:hover {
								@apply bg-teal-300 text-teal-700;
							}
						}
						.active {
							@apply text-teal-700;
						}
					}
				}
			}
			&.indigo {
				background: linear-gradient(180deg, #434190 0%, darken(#434190, 1) 50%, darken(#434190, 4) 75%, darken(#434190, 10) 100%);
				.breadcrumb {
					ol {
						@apply text-indigo-400;
					}
				}
				.tournament-info {
					.logo {
						@apply border-indigo-900;
					}
					.info {
						.game, .platform, .participation {
							@apply text-indigo-400;
						}
					}
				}
				.menu {
					@apply text-indigo-200;
					ul {
						.item {
							@apply bg-indigo-800 border-indigo-900;
							&:hover {
								@apply bg-indigo-300 text-indigo-700;
							}
						}
						.active {
							@apply text-indigo-700;
						}
					}
				}
			}
			&.purple {
				background: linear-gradient(180deg, #553c9a 0%, darken(#553c9a, 1) 50%, darken(#553c9a, 4) 75%, darken(#553c9a, 10) 100%);
				.breadcrumb {
					ol {
						@apply text-purple-400;
					}
				}
				.tournament-info {
					.logo {
						@apply border-purple-900;
					}
					.info {
						.game, .platform, .participation {
							@apply text-purple-400;
						}
					}
				}
				.menu {
					@apply text-purple-200;
					ul {
						.item {
							@apply bg-purple-800 border-purple-900;
							&:hover {
								@apply bg-purple-300 text-purple-700;
							}
						}
						.active {
							@apply text-purple-700;
						}
					}
				}
			}
			&.pink {
				background: linear-gradient(180deg, #97266d 0%, darken(#97266d, 1) 50%, darken(#97266d, 4) 75%, darken(#97266d, 10) 100%);
				.breadcrumb {
					ol {
						@apply text-pink-400;
					}
				}
				.tournament-info {
					.logo {
						@apply border-pink-900;
					}
					.info {
						.game, .platform, .participation {
							@apply text-pink-400;
						}
					}
				}
				.menu {
					@apply text-pink-200;
					ul {
						.item {
							@apply bg-pink-800 border-pink-900;
							&:hover {
								@apply bg-pink-300 text-pink-700;
							}
						}
						.active {
							@apply text-pink-700;
						}
					}
				}
			}

			.breadcrumb {
				@apply px-2;
				border-top: 1px solid rgba(200,200,200,0.1);
				border-bottom: 1px solid rgba(0,0,0,0.1);
				ol {
					@apply flex py-1 font-roboto-condensed text-13 truncate;
					li {
						@apply truncate;
					}
					.link {
						@apply font-bold;
					}
					.separator {
						@apply mx-1;
						&:after {
							content: "/";
						}
					}
					.current {
						// @apply truncate;
					}
				}
			}

			.tournament-info {
				@apply w-full pt-3 pb-1 px-2 flex items-center;
				border-top: 1px solid rgba(200,200,200,0.1);
				.logo {
					min-height: 4.75rem;
					min-width: 4.75rem;
					max-height: 4.75rem;
					max-width: 4.75rem;
					@screen sm {
						min-height: 5.5rem;
						min-width: 5.5rem;
						max-height: 5.5rem;
						max-width: 5.5rem;
					}
					img {
						border: 1px solid rgba(200,200,200,0.1);
						@apply rounded w-full;
					}
				}
				.info {
					@apply flex flex-col ml-3 truncate;
					.name {
						@apply truncate uppercase text-20 font-bold font-roboto-condensed text-white;
						text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
						line-height: 1.25em;
						@screen sm {
							@apply text-25;
						}
					}
					.game, .platform, .participation {
						@apply truncate text-10;
						@screen sm {
							@apply text-12;
						}
					}
				}
			}

			.menu {
				@apply px-2 py-3 flex items-center;
				ul {
					@apply flex flex-row text-14 font-roboto-condensed font-semibold;
					@screen sm {
						@apply text-16;
					}
					.item {
						@apply border rounded mr-1 text-center truncate;
						a {
							@apply block px-3;
						}
					}
					.active {
						@apply border border-transparent rounded bg-white mr-1 text-center cursor-not-allowed;
						a {
							@apply block px-3;
							pointer-events: none;
						}
					}
				}
			}
		}

		.selector {
			@apply bg-white border-b p-2 font-roboto text-12 whitespace-no-wrap overflow-x-auto;
			.selector-container {
				@apply inline-block w-40 pr-1;
				label {
					@apply block font-bold text-11 text-gray-800 mb-1;
				}
				select {
					@apply block appearance-none w-full bg-gray-100 border border-gray-400 px-3 py-2 pr-6 rounded leading-tight truncate;
					&:hover {
						@apply border-gray-500;
					}
					&:focus {
						@apply border-gray-500;
					}
				}
			}
		}
		.content {
			@apply bg-gray-100 text-gray-800 font-roboto;
			@screen md {
				// border-left: 1px solid rgba(0,0,0,0.1);
				// border-right: 1px solid rgba(0,0,0,0.1);
			}
			h2 {
				@apply uppercase bg-gray-900 rounded text-16 text-white font-bold font-roboto-condensed px-3 flex items-center;
				height: 32px;
				// padding: 5px 12px 0 12px;
				.actions {
					li {
						@apply inline-block ml-1 text-gray-600;
						&:hover {
							@apply text-white;
						}
						a {
							@apply text-17 cursor-pointer;
						}
						&.active {
							@apply text-white;
							a {
								@apply cursor-not-allowed;
								pointer-events: none;
							}
						}
					}
				}
			}


			// index
			@import "custom_styles/app/tournaments/index.scss";
			// rules
			@import "custom_styles/app/tournaments/rules.scss";
			// participants
			@import "custom_styles/app/tournaments/participants.scss";
			//races
			@import "custom_styles/app/tournaments/races.scss";
			//race
			@import "custom_styles/app/tournaments/race.scss";
			//league
			@import "custom_styles/app/tournaments/leagues.scss";
			//playoff
			//match
			@import "custom_styles/app/tournaments/match.scss";
		}

		.sponsors {
			@apply py-3 bg-gray-200 border-t border-gray-300;
			@screen md {
				border-left: 1px solid rgba(0,0,0,0.1);
				border-right: 1px solid rgba(0,0,0,0.1);
			}
			h4 {
				@apply text-gray-600 uppercase font-fjalla text-17 text-center;
				text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
			}
			ul {
				@apply flex items-center justify-center w-full gap-4 py-2;
				li {
					figure {
						img {
							@apply h-16;
						}
					}
				}
			}
		}
	}
}