.leagues-standing-content {
	@apply border my-3 bg-white rounded;
	// @screen sm {
	// 	@apply mx-24;
	// }
	// @screen md {
	// 	@apply mx-32;
	// }
	// @screen lg {
	// 	@apply mx-48;
	// }
	// @screen xl {
	// 	@apply mx-64;
	// }
	.title {
		@apply uppercase text-13 font-bold p-2 rounded;
		background: #f9f9f9;
	}
	.table-wrap {
		@apply overflow-x-auto border-t m-auto;
		table {
			@apply w-full;
			thead {
				@apply border-b;
				th {
					@apply py-2 align-bottom uppercase text-11;
				}
				.pos {
					@apply px-2 w-6;
					&.tablezones {
						width: 58px;
						min-width: 58px;
						max-width: 58px;
					}
				}
				.participant {
					@apply text-left;
				}
				.pts {
					@apply text-center;
					min-width: 32px;
					width: 42px;
					a {
						&:hover {
							@apply underline;
							img {
								@apply border-gray-400;
							}
						}
						&:active {
							img {
								@apply border-gray-400;
							}
						}
					}
				}
			}
			tbody {
				tr {
					border-top: 1px solid #f2f2f2;
					&:nth-child(odd) {
						background: #FBFBFB;
					}
					&:last-child {
						@apply rounded-b;
						.pos {
							@apply rounded-bl;
						}
						.pts {
							@apply rounded-br;
						}
					}
					&:hover {
						@apply bg-yellow-100;
					}
					td {
						@apply py-1;
					}
					.pos {
						@apply text-right text-13 font-bold text-gray-500 pr-2 font-roboto-condensed whitespace-no-wrap;
						p {
							@apply w-4 text-center;
						}
						figure {
							@apply pr-1;
							img {
								@apply h-6 w-6;
								min-width: 1.5rem;
							}
						}
					}
					.participant-name {
						min-width: 230px;
						max-width: 230px;
						.name-container {
							@apply flex flex-row items-center text-13;
							img {
								@apply rounded-full h-8 w-8 object-cover;
								&.no-rounded {
									@apply rounded-none;
								}
							}
							div {
								@apply truncate;
								.text-name {
									@apply mx-2;
								}
								.text-subname {
									@apply block mx-2 text-9 text-gray-600;
								}
							}
						}
					}
					.pts-total {
						@apply text-center font-bold px-2 text-15 bg-orange-100 font-roboto-condensed;
						border-left: 1px solid #f2f2f2;
					}
					.pts {
						@apply text-center text-12 px-1;
						border-left: 1px solid #f2f2f2;
					}
				}
			}
		}
	}
}

.leagues-schedule-content {
	@apply my-3;
	.empty-view {
		@apply p-3 mt-3 bg-white border rounded text-center relative text-gray-700 font-bold font-roboto-condensed;
	}
	.days-list {
		@apply grid grid-cols-1 gap-3;
		@screen lg {
			@apply grid-cols-2;
		}
		.day {
			@apply bg-white rounded relative border font-roboto-condensed;
			h4 {
				@apply font-bold text-13 p-2 border-b rounded-t;
				background: #F2F4F8;
			}
			.matches {
				.match {
					@apply flex items-center py-2;
					border-bottom: 1px solid #f2f2f2;
					&:hover {
						@apply bg-yellow-100;
					}
					&:last-child {
						@apply rounded-b;
						border-bottom: none;
					}
					.local {
						@apply flex-1 flex items-center justify-end truncate;
						.img {
							@apply w-6 h-6 object-cover rounded-full order-last;
							&.no-rounded {
								@apply rounded-none;
							}
						}
						.name {
							@apply font-bold text-gray-700 mx-2 truncate text-13;
						}
					}
					.result {
						@apply w-12 px-1 mx-3 text-center font-bold;
						flex: 0 1 auto;
						padding-top: 0.1em;
						padding-bottom: 0.1em;
						&.played {
							@apply bg-red-700 text-white rounded;
						}
					}
					.visitor {
						@apply flex-1 flex items-center truncate;
						.img {
							@apply w-6 h-6 object-cover rounded-full;
							&.no-rounded {
								@apply rounded-none;
							}
						}
						.name {
							@apply font-bold text-gray-700 mx-2 truncate text-13 order-last;
						}
					}
				}
			}
		}
	}
}