@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?ozl5pa');
  src:  url('../fonts/icomoon.eot?ozl5pa#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?ozl5pa') format('truetype'),
    url('../fonts/icomoon.woff?ozl5pa') format('woff'),
    url('../fonts/icomoon.svg?ozl5pa#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-visible:before {
  content: "\e919";
}
.icon-invisible:before {
  content: "\e91a";
}
.icon-arrow-right:before {
  content: "\e90d";
}
.icon-login:before {
  content: "\e906";
}
.icon-logout:before {
  content: "\e907";
}
.icon-user-add:before {
  content: "\e908";
}
.icon-user-menu:before {
  content: "\e909";
}
.icon-guest:before {
  content: "\e90a";
}
.icon-user:before {
  content: "\e905";
}
.icon-moon:before {
  content: "\e901";
}
.icon-dark-light:before {
  content: "\e902";
}
.icon-sun:before {
  content: "\e903";
}
.icon-dice:before {
  content: "\e91b";
}
.icon-dices:before {
  content: "\e91c";
}
.icon-replace:before {
  content: "\e91d";
}
.icon-kick:before {
  content: "\e91e";
}
.icon-magic:before {
  content: "\e91f";
}
.icon-gamepad:before {
  content: "\e92f";
}
.icon-groups_participants:before {
  content: "\e930";
}
.icon-groups:before {
  content: "\e931";
}
.icon-phases:before {
  content: "\e932";
}
.icon-reserves:before {
  content: "\e92d";
}
.icon-news:before {
  content: "\e92e";
}
.icon-eplayers:before {
  content: "\e920";
}
.icon-zones:before {
  content: "\e92b";
}
.icon-seasons:before {
  content: "\e921";
}
.icon-menus:before {
  content: "\e922";
}
.icon-pages:before {
  content: "\e923";
}
.icon-participants:before {
  content: "\e924";
}
.icon-products:before {
  content: "\e925";
}
.icon-economy:before {
  content: "\e926";
}
.icon-competitions:before {
  content: "\e927";
}
.icon-transfers:before {
  content: "\e928";
}
.icon-roles:before {
  content: "\e929";
}
.icon-players:before {
  content: "\e92a";
}
.icon-circuits:before {
  content: "\e92c";
}
.icon-settings:before {
  content: "\e933";
}
.icon-tournaments:before {
  content: "\e934";
}
.icon-dashboard:before {
  content: "\e935";
}
.icon-categories:before {
  content: "\e936";
}
.icon-db:before {
  content: "\e937";
}
.icon-teams:before {
  content: "\e938";
}
.icon-rosters:before {
  content: "\e939";
}
.icon-eteams:before {
  content: "\e93a";
}
.icon-games:before {
  content: "\e93b";
}
.icon-platforms:before {
  content: "\e93c";
}
.icon-users:before {
  content: "\e93d";
}
.icon-tools:before {
  content: "\e93e";
}
.icon-positions:before {
  content: "\e93f";
}
.icon-add:before {
  content: "\e940";
}
.icon-shortcut:before {
  content: "\e941";
}
.icon-nothing:before {
  content: "\e942";
}
.icon-table:before {
  content: "\e943";
}
.icon-filter:before {
  content: "\e944";
}
.icon-view:before {
  content: "\e945";
}
.icon-edit:before {
  content: "\e946";
}
.icon-import:before {
  content: "\e947";
}
.icon-xls:before {
  content: "\e948";
}
.icon-csv:before {
  content: "\e949";
}
.icon-xlsx:before {
  content: "\e94a";
}
.icon-duplicate:before {
  content: "\e94b";
}
.icon-trash:before {
  content: "\e94c";
}
.icon-bookmark-add:before {
  content: "\e94d";
}
.icon-reclamation:before {
  content: "\e94e";
}
.icon-pilot:before {
  content: "\e904";
}
.icon-race_live:before {
  content: "\e94f";
}
.icon-multimedia:before {
  content: "\e950";
}
.icon-qualy:before {
  content: "\e951";
}
.icon-race:before {
  content: "\e952";
}
.icon-circuit:before {
  content: "\e953";
}
.icon-logo:before {
  content: "\e954";
}
.icon-logo2:before {
  content: "\e900";
}
.icon-logo3:before {
  content: "\e955";
}
.icon-brand-xbox:before {
  content: "\e956";
}
.icon-brand-playstation:before {
  content: "\e957";
}
.icon-brand-pcgame:before {
  content: "\e958";
}
.icon-fifa:before {
  content: "\e959";
}
.icon-efootball:before {
  content: "\e90b";
}
.icon-gtracing:before {
  content: "\e90c";
}
.icon-facebook:before {
  content: "\e90e";
}
.icon-instagram:before {
  content: "\e90f";
}
.icon-youtube:before {
  content: "\e910";
}
.icon-twitch:before {
  content: "\e911";
}
.icon-twitter:before {
  content: "\e912";
}
.icon-whatsapp:before {
  content: "\e913";
}
.icon-discord:before {
  content: "\e914";
}
.icon-telegram:before {
  content: "\e915";
}
.icon-steam:before {
  content: "\e916";
}
.icon-xbox:before {
  content: "\e917";
}
.icon-playstation:before {
  content: "\e918";
}
.icon-pos-med:before {
  content: "\e95a";
}
.icon-pos-del:before {
  content: "\e95b";
}
.icon-pos-def:before {
  content: "\e95c";
}
.icon-pos-por:before {
  content: "\e95d";
}