@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?ozl5pa');
  src:  url('../fonts/icomoon.eot?ozl5pa#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?ozl5pa') format('truetype'),
    url('../fonts/icomoon.woff?ozl5pa') format('woff'),
    url('../fonts/icomoon.svg?ozl5pa#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-brand-xbox:before {
  content: "\e919";
}
.icon-brand-playstation:before {
  content: "\e91a";
}
.icon-brand-pcgame:before {
  content: "\e91b";
}
.icon-fifa:before {
  content: "\e91c";
}
.icon-efootball:before {
  content: "\e90b";
}
.icon-gtracing:before {
  content: "\e90c";
}
.icon-arrow-right:before {
  content: "\e90d";
}
.icon-login:before {
  content: "\e906";
}
.icon-logout:before {
  content: "\e907";
}
.icon-user-add:before {
  content: "\e908";
}
.icon-user-menu:before {
  content: "\e909";
}
.icon-guest:before {
  content: "\e90a";
}
.icon-user:before {
  content: "\e905";
}
.icon-moon:before {
  content: "\e901";
}
.icon-dark-light:before {
  content: "\e902";
}
.icon-sun:before {
  content: "\e903";
}
.icon-facebook:before {
  content: "\e90e";
}
.icon-instagram:before {
  content: "\e90f";
}
.icon-youtube:before {
  content: "\e910";
}
.icon-twitch:before {
  content: "\e911";
}
.icon-twitter:before {
  content: "\e912";
}
.icon-whatsapp:before {
  content: "\e913";
}
.icon-discord:before {
  content: "\e914";
}
.icon-telegram:before {
  content: "\e915";
}
.icon-steam:before {
  content: "\e916";
}
.icon-xbox:before {
  content: "\e917";
}
.icon-playstation:before {
  content: "\e918";
}
.icon-logo:before {
  content: "\e900";
}
.icon-pilot:before {
  content: "\e904";
}