.loader {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 45;
    clip-path: circle(150% at 100% 0);
    transition: clip-path 0.8s ease-in-out;
}
.loader-off {
    clip-path: circle(0% at 100% 100%);
}

.scrollbar-thin::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
.scrollbar-thin .thiner::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
.scrollbar-thin .thinest::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

.banner-landing:before {
    content: "";
    width: 55%;
    height: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    transform-origin: bottom left;
    transform: skew(-30deg,0deg);
    background: linear-gradient(233deg,#fff 5%,hsla(0,0%,100%,.01) 95%);
    mix-blend-mode: soft-light;
    pointer-events: none;
}

[x-cloak] {
    display: none !important;
}
